# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit specific files
.streamlit/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging files
*.egg-info/
*.eggs/
build/
dist/

# Docker
docker-compose.yml
*.env

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
